@model GCRS.Web.ViewModels.NomencladorViewModel

@{
    ViewBag.Title = "Nomenclatura";
}


<h2>Provincias  </h2> 
@Html.ActionLink("Add", "AddProvincia")
<br />
<table class="table">
    @*Listar Provincias*@
@foreach (var item in Model.Provincias) {
    <tr>
        <td>
            @Html.Encode(item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
        </td>
    </tr>
}

</table>


<h2>Municipios</h2>
@Html.ActionLink("Add", "AddMunicipio")
<br />
<table class="table">
    @*Listar Provincias*@
    @foreach (var item in Model.Municipios)
    {
        <tr>
            <td>
                @Html.Encode(item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<h2>Repartos</h2>
@Html.ActionLink("Add", "AddReparto")
<br />
<table class="table">
    @*Listar Provincias*@
    @foreach (var item in Model.Repartos)
    {
        <tr>
            <td>
                @Html.Encode(item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<h2>Categorias</h2>
 @Html.ActionLink("Add", "AddCategoria")
<br />
<table class="table">
    @*Listar Provincias*@
    @foreach (var item in Model.Categorias)
    {
        <tr>
            <td>
                @Html.Encode(item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<h2>Unidad de Tiempo de Renta</h2>
@Html.ActionLink("Add", "AddUnidadTiempoRenta")
<br />
<table class="table">
    @*Listar Provincias*@
    @foreach (var item in Model.UnidadesTiempoRenta)
    {
        <tr>
            <td>
                @Html.Encode(item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>