@model IEnumerable<GCRS.Domain.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Properties</h2>
@Html.ActionLink("Add", "AddProperty")
<br />
<table class="table">
    @*Listar Properties*@
    <thead>
        <tr>
            <th>Category</th>
            <th>Address</th>
            <th>Province</th>
            <th>Municipality</th>
            <th>District</th>
            <th>RoomsCounts</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Encode(item.Category.Name)
            </td>
            <td>
                @Html.Encode(item.Direccion)
            </td>
            <td>
                @Html.Encode(item.Province.Name)
            </td>
            <td>
                @Html.Encode(item.Municipality.Name)
            </td>
            <td>
                @Html.Encode(item.District.Name)
            </td>
            <td>
                @Html.Encode(item.RoomsCount)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>