@using GCRS.Web.ViewModels
@using GCRS.Domain

@model SellOfferViewModels

@{
    ViewBag.Title = "Añadir Oferta de Venta";
}

<h2>Añadir Oferta de Venta</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Offer.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Offer.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Offer.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Offer.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Offer.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Offer.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Offer.Client, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="col-md-12 mb-2 form-control" id="Filters_SelectedMunicipality" name="Offer.ClientUserName">
                    <option selected disabled hidden>Seleccione un Cliente</option>
                    @foreach (var x in Model.Clients)
                    {
                        @:
                        <option>@x.Username</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Offer.ClientUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Properties, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="col-md-12 mb-2 form-control" id="Filters_SelectedDistrict" name="Offer.PropertyId">
                    <option selected disabled hidden>Seleccione una Propiedad</option>
                    @foreach (var x in Model.Properties)
                    {
                        @:
                        <option>@x.Id</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Offer.PropertyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
